name: Build & Push Docker Image

on:
  push:
    branches:
      - main  # run on push to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2️⃣ Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build -t nileshrahinj0211/pw-ui-automation-testing01:latest .

      # 4️⃣ Push Docker image
      - name: Push Docker image
        run: |
          docker push nileshrahinj0211/pw-ui-automation-testing01:latest
